$bgcolor: #222222;
$fgcolor: #fff;
$fbgcolor: #83aaff;

.Panel {
    position: absolute;
    background: $bgcolor;
    color:$fgcolor;
    padding: 8px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: all ease .15s;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .PanelItem {
        background: transparent;
        padding: 10px 15px;
        font-size: 12px;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: lighten($bgcolor, 5%);
        }

        i {
            margin: 0 5px;
            margin-left: 0;
        }

        .PanelBatteryLevel {
            margin: 0;
            padding: 0;
        }
    }

    .PanelItemInteraction {
        padding: 10px 12px;

        i{
            margin: 0;
        }
    }

    .PanelTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .PanelBottom {
        .PanelItemLarge{
            background: lighten($bgcolor,5%);
            padding: 10px 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            border-radius: 999px;
            display: inline-block;
            width: 157px;
            transition: all ease .1s;

            &:hover {
                background: lighten($bgcolor,12%);
            }

            i {
                margin: 0 5px;
                margin-left: 0;
            }

            &.focused{
                background: $fbgcolor;
                color:#000;

                &:hover {
                    background: lighten($fbgcolor,5%)
                }
            }
        }
    }

    .PanelRangeContainer {
        margin: 0 10px;
        margin-bottom: 12px;

        .PanelRangeTitle {
            font-size: 12px;
            color: #fff;
            margin: 0;
            margin-bottom: 5px;
        }
    }
}

.lightMode {
    .Panel {
        background: $fgcolor;
        color: $bgcolor;

        .PanelItem {
            &:hover {
                background: darken($fgcolor,5%);
            }
        }

        .PanelRangeContainer {
            .PanelRangeTitle {
                color: $bgcolor;
            }
        }

        .PanelBottom {
            .PanelItemLarge{
                background: darken($fgcolor,5%);

                &:hover {
                    background: darken($fgcolor,12%);
                }

                &.focused{
                    background: $fbgcolor;
                    color:$bgcolor;

                    &:hover {
                        background: lighten($fbgcolor,5%)
                    }
                }
            }
        }
    }
}
