$bgcolor: #202023da;
$fgcolor: #e2e2e2;

.CameraWindow {
    * {
        transition: all ease .3s;
    }

    .camera {
        width: 93vw;
        height: 93%;
        opacity: 0;
        pointer-events: none;
        transition: all ease .3s;

        &.active {
            opacity: 1;
            pointer-events: all;
            width: 100vw;
            height: 100%;
        }
        
        &.minimize {
            width: 1000px;
            height: 600px;
        }
    }
    
    .Camera {
        background: $bgcolor;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        height: 100%;
        color: $fgcolor;

        * {
            margin: 0;
        }

        .CameraVideo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .CameraRecordTime {
                position: absolute;
                z-index: 1;
                top: 0;
                background-color: $bgcolor;
                margin: 40px 0;
                padding: 7px 12px;
                border-radius: 999px;
                color: $fgcolor;
                font-size: 15px;
                font-weight: 700;
                opacity: 0;

                &.active {
                    opacity: 1;
                }

                p::before {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 999px;
                    margin-right: 7px;
                    background: #ff4b4b;
                    animation: record ease 1s infinite;
                }

                @keyframes record {
                    0% {
                        background: #ff4b4b;
                    }

                    50% {
                        background: darken(#ff4b4b, 30%);
                    }
                    
                    100% {
                        background: #ff4b4b;
                    }
                }
            }

            .CameraTimer {
                position: absolute;
                z-index: 1;
                animation: timer ease 1s;

                p {
                    text-shadow: 0px 0 20px #000;
                    font-size: 200px;
                }
            }

            @keyframes timer {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .CameraInteraction {
            padding: 0 10px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: $bgcolor;
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.capturing {
                * {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }

            .CameraAct {
                color: $fgcolor;
                font-size: 25px;
                margin: 0 20px;
            }

            .CameraCapture {
                width: 50px;
                height: 50px;
                border-radius: 999px;
                background-color: lighten($fgcolor, 5%);
                color: #000;
                font-size: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: none;

                &:active {
                    background-color: darken($fgcolor, 25%);
                }
                
                &.isRecording {
                    background: #ff4b4b;
                    color: $fgcolor;
                    opacity: 1;

                    * {
                        opacity: 1;
                    }
                }
            }

            .CameraCapturedImg {
                width: 95px;
                height: 70px;
                position: relative;
                z-index: 1;

                img {
                    width: 95px;
                    height: 70px;
                    display: block;
                }
            }
        }
    }    
}