$bgcolor: #202023da;
$fgcolor: #e2e2e2;
$actcolor: #8fb6ff;

.SettingsWindow {

	img {display:block}

    .Window .TopBar {
        padding: 4px 8px;
        .TopBarInteractionContainer {
            display: flex;
            width: 100vw;
            justify-content: space-between;
            align-items: center;
        }
        .TopBarTitle {width: auto;}
    }

    .settings {
        width: 93vw;
        height: 93%;
        opacity: 0;
        pointer-events: none;
        transition: all ease .3s;

        &.active {
            opacity: 1;
            pointer-events: all;
            width: 100vw;
            height: 100%;
        }
        
        .TabBarWrapper {
            margin: 0 10px;
            margin-right: 0;
    
            .TabBar {
                display: flex;
    
                .TabBarItem {
                    padding: 4px 9px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    margin-right: 5px;
    
                    * { margin: 0 }
                    
                    .TabSeparator {
                        background-color: #ffffff1e;
                        width: 1px;
                    }

                    .TabBarInteraction {
                        display: flex;

                        i {
                            margin-right: 3px;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 999px;
                            height: 20px;
                            width: 20px;
                    	    transition: all ease .3s;

                            &:hover {
                                background-color: #ffffff1e;
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }

                .TabBarSettingsName {
                    display: flex;
					align-items: center;
					width: 100%;
                    border-radius: 5px;
                }

				.Toggle {
					border-radius: 999px;
					width: 43px;
					height: 20px;
					background: transparentize($fgcolor, 0.9);
					display: flex;
					padding: 0 3px;
					align-items: center;
					transition: all ease .3s;

					&::before {
						content: '';
						display: block;
						background: $fgcolor;
						height: 15px;
						width: 15px;
						border-radius: 999px;
						transition: all ease .1s;
					}

					&.active {
						background: $actcolor;

						&::before {
							transform: translateX(20px);
						}
					}
				}
            }
        }
        
        &.minimize {
            width: 1000px;
            height: 600px;
        }
    }
    
    .Settings {
        background: $bgcolor;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        height: 100%;
        color: $fgcolor;

        .SettingsSection {
            width: 100%;
            height: 100%;
            display: flex;
            
            div {
		    .NavPanel {
		        background: transparentize($actcolor, 0.95);
		        display: flex;
		        justify-content: space-between;
		        flex-direction: column;
		        padding: 10px 0;
		        margin: 7px;
		        border-radius: 13px;

		        .DropdownMenu {
		            display: flex;
		            align-items: center;
		            color: darken($fgcolor, 10%);
		            margin: 7px 0;
		            margin-left: 20px;
		            font-size: 13px;
		            transition: all ease .3s;

		            i {
		                width: 10px;
		                display: flex;
		                justify-content: center;
		            }

		            p {
		                margin: 0;
		                padding: 8px 0 8px 12px;
		                border-radius: 999px;
		                border-top-right-radius: 0;
		                border-bottom-right-radius: 0;
		                width: 100%;
		            }

		            &:hover {
		                color: $actcolor;
		            }
		        }
		    }
		    
		    &[value='1']{
		            .NavPanel .DropdownMenu.wifi {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='2']{
		            .NavPanel .DropdownMenu.bluetooth {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='3']{
		            .NavPanel .DropdownMenu.network {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='4']{
		            .NavPanel .DropdownMenu.appearance {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='5']{
		            .NavPanel .DropdownMenu.notifications {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='6']{
		            .NavPanel .DropdownMenu.onlineAccounts {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='7']{
		            .NavPanel .DropdownMenu.updates {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='8']{
		            .NavPanel .DropdownMenu.search {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='9']{
		            .NavPanel .DropdownMenu.battery {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='10']{
		            .NavPanel .DropdownMenu.apps {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='11']{
		            .NavPanel .DropdownMenu.privacy {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='12']{
		            .NavPanel .DropdownMenu.security {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='13']{
		            .NavPanel .DropdownMenu.share {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    
		    &[value='14']{
		            .NavPanel .DropdownMenu.sound {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    &[value='15']{
		            .NavPanel .DropdownMenu.displays {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    &[value='16']{
		            .NavPanel .DropdownMenu.mouseTouchpad {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    &[value='17']{
		            .NavPanel .DropdownMenu.keyboard {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
                    }
		    &[value='18']{
		            .NavPanel .DropdownMenu.printer {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
            }
		    &[value='19']{
		            .NavPanel .DropdownMenu.regionLanguage {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
            }
		    &[value='20']{
		            .NavPanel .DropdownMenu.accessibility {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
            }
		    &[value='21']{
		            .NavPanel .DropdownMenu.dateTime {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
            }
		    &[value='22']{
		            .NavPanel .DropdownMenu.about {
		                color: $actcolor;
		                margin-left: 10px;

		                i {
		                    width: 30px;
		                }

		                p {
		                    font-weight: 700;
		                    background: transparentize($actcolor, 0.87);
		                }
		            }
            }
	    }

            .SettingsContainer {
				position: relative;
				width: 100%;
				height: 100%;

				.SettingsContainerInside {
					position: absolute;
					width: 100%;
					height: 100%;
					overflow-y: auto;
					padding: 20px;
					
					p{margin: 0}

					.WiFi {
						margin: 0 auto;
						max-width: 70%;
						font-size: 13px;
	
						.StatusWifiFalse {
							color: transparentize($fgcolor, 0.85);
						}

						.VisibleNetworks {
							display: flex;
							flex-direction: column;
							height: 100%;

							.VisibleNetworksItem {
								width: 100%;
								padding: 15px 25px;
								display: flex;
								justify-content: space-between;
								border-bottom: 1px solid transparentize($fgcolor, 0.95);

								&:hover {
									background: transparentize($fgcolor, 0.97);
								}

								&:first-child {
									border-top-left-radius: 7px;
									border-top-right-radius: 7px;
								}

								&:last-child {
									border: 0;
									border-bottom-left-radius: 7px;
									border-bottom-right-radius: 7px;
								}

								.VisibleNetworksIcon {
									i {
										margin-right: 13px;

										&:last-child {margin:0}

										&.fa-duotone {--fa-secondary-color: #e2e2e296}
									}
								}
							}
						}
					}

					.AppearanceWrapper {
						font-size: 13px;

						.Appearance {
							display: flex;
							justify-content: center;
							margin: 0 auto;
							margin-bottom: 30px;
							max-width: 70%;
							.WindowColors {
								display: flex;
								flex-direction: column;
								
								.ImageContainer {
									transition: border ease .3s;
									border-radius: 9px;
									img {
										border-radius: 8px;
										width: auto;
										height: 200px;
									}
								}
	
								&[value='1']{
									.ImageContainer.dark {
										border: 2px solid #8fb6ff;
									}
								}
	
								&[value='2']{
									.ImageContainer.light {
										border: 2px solid #8fb6ff;
									}
								}
							}
	
							.Themes {
								display: flex;
								flex-direction: column;

								.ThemesMenu {
									display: flex;
									justify-content: space-between;
									padding: 0 20px;
									margin-bottom: 10px;

									&:last-child {margin: 0}

									.ThemesMenuSection {
										font-size: 12px;
										padding: 7px 12px;
										background: transparentize($fgcolor, 0.93);
										display: flex;
										justify-content: space-between;
										width: 190px;
										align-items: center;
										border-radius: 7px;
									}
								}

								.ActMenu {
									background: $bgcolor;
									backdrop-filter: blur(15px);
									-webkit-backdrop-filter: blur(15px);
									padding: 5px;
									border-radius: 7px;
									position: absolute;
									box-shadow: 0px 0 20px #0000004e;
									transition: all ease .15s !important;
									opacity: 0;
									pointer-events: none;
								
									&.active {
										opacity: 1;
										pointer-events: all;
									}
									
									.ActMenuSelector {
										padding: 5px 8px;
										border-radius: 7px;
										background: transparent;
										color: $fgcolor;
										font-size: 13px;
										display: flex;
										align-items: center;
								
										* {margin: 0;}
								
										i {margin-right: 7px}
								
										&:hover {
											background: #ffffff12;
										}
									}
								}
							}
						}
					}
				}
            }
        }
    }
}

.lightMode {
    .settings {
        	
        .TabBarWrapper .TabBar {
            .TabBarItem {
                color: #000;
                        
                .TabSeparator {
                    background-color: #0000001e;
                }
        
                &:hover {
                    .CloseButton {
                        &:hover {
                            background-color: #00000010;
                        }
                    }
                }

                .TabBarInteraction i:hover {
                    background-color: #0000001e;
                }
            }

			.Toggle {
				background: transparentize($bgcolor, 0.75);
			}
        }
    }

    .Settings {
        background: $fgcolor;
        color: $bgcolor;

        .SettingsSection {
            
            div {
				.NavPanel {
					background: transparentize($actcolor, 0.85);

					.DropdownMenu {
					color: lighten($bgcolor, 10%);

					&:hover {
						color: $actcolor;
					}
					}
				}
				
				&[value='1']{
					.NavPanel .DropdownMenu.wifi p {
						background: $fgcolor;
					}
				}
				
				&[value='2']{
					.NavPanel .DropdownMenu.bluetooth p {
						background: $fgcolor;
					}
				}
				
				&[value='3']{
					.NavPanel .DropdownMenu.network p {
						background: $fgcolor;
					}
				}
				
				&[value='4']{
					.NavPanel .DropdownMenu.appearance p {
						background: $fgcolor;
					}
				}
				
				&[value='5']{
					.NavPanel .DropdownMenu.notifications p {
						background: $fgcolor;
					}
				}
				
				&[value='6']{
					.NavPanel .DropdownMenu.onlineAccounts p {
						background: $fgcolor;
					}
				}
				
				&[value='7']{
					.NavPanel .DropdownMenu.updates p {
						background: $fgcolor;
					}
				}
				
				&[value='8']{
					.NavPanel .DropdownMenu.search p {
						background: $fgcolor;
					}
				}
				
				&[value='9']{
					.NavPanel .DropdownMenu.battery p {
						background: $fgcolor;
					}
				}
				
				&[value='10']{
					.NavPanel .DropdownMenu.apps p {
						background: $fgcolor;
					}
				}
				
				&[value='11']{
					.NavPanel .DropdownMenu.privacy p {
						background: $fgcolor;
					}
				}
				
				&[value='12']{
					.NavPanel .DropdownMenu.security p {
						background: $fgcolor;
					}
				}
				
				&[value='13']{
					.NavPanel .DropdownMenu.share p {
						background: $fgcolor;
					}
				}
				
				&[value='14']{
					.NavPanel .DropdownMenu.sound p {
						background: $fgcolor;
					}
				}
				
				&[value='15']{
					.NavPanel .DropdownMenu.displays p {
						background: $fgcolor;
					}
				}
				
				&[value='16']{
					.NavPanel .DropdownMenu.mouseTouchpad p {
						background: $fgcolor;
					}
				}
				
				&[value='17']{
					.NavPanel .DropdownMenu.keyboard p {
						background: $fgcolor;
					}
				}
				
				&[value='18']{
					.NavPanel .DropdownMenu.printer p {
						background: $fgcolor;
					}
				}
				
				&[value='19']{
					.NavPanel .DropdownMenu.regionLanguage p {
						background: $fgcolor;
					}
				}
				
				&[value='20']{
					.NavPanel .DropdownMenu.accessibility p {
						background: $fgcolor;
					}
				}
				
				&[value='21']{
					.NavPanel .DropdownMenu.dateTime p {
						background: $fgcolor;
					}
				}
				
				&[value='22']{
					.NavPanel .DropdownMenu.about p {
						background: $fgcolor;
					}
				}
			}
        }

		.SettingsContainer .SettingsContainerInside {

			.WiFi {
				.StatusWifiFalse {
					color: transparentize($bgcolor, 0.75)!important;
				}

				.VisibleNetworks {
					.VisibleNetworksItem {
						border-bottom: 1px solid transparentize($bgcolor, 0.8)!important;

						&:hover {
							background: transparentize($bgcolor, 0.82)!important;
						}
						
						.VisibleNetworksIcon {
							i.fa-duotone {--fa-secondary-color: #20202396!important}
						}
					}
				}
			}

			.AppearanceWrapper .Appearance {
				.Themes {
					.ActMenu {
						background: $fgcolor;
				
						.ActMenuSelector {
							color: $bgcolor;
				
							&:hover {
								background: #00000012;
							}
						}
					}
					
					.ThemesMenu .ThemesMenuSection {background: transparentize($bgcolor, 0.82)!important}
				}
			}
		}
    }
}
