$bgcolor: #202023da;
$fgcolor: #e2e2e2;

.SoftwareStoreWindow {
    * {
        transition: all ease .3s;
    }
    .Window .TopBar {
        padding: 4px 8px;
        justify-content: space-between;
        .TopBarInteractionContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .TopBarTitle {width: auto;}
    }

    .softwarestore {
        width: 93vw;
        height: 93%;
        opacity: 0;
        pointer-events: none;
        transition: all ease .3s;

        &.active {
            opacity: 1;
            pointer-events: all;
            width: 100vw;
            height: 100%;
        }
        
        &.minimize {
            width: 1000px;
            height: 600px;

            .TopBarTitle {width: 200px;}
        }
    
        .TabBarWrapper {
            margin: 0 10px;
            margin-right: 0;
    
            .TabBar {
                display: flex;
    
                .TabBarItem {
                    padding: 4px 9px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    margin-right: 5px;
    
                    * { margin: 0 }
                    
                    .TabSeparator {
                        background-color: #ffffff1e;
                        width: 1px;
                    }

                    .TabBarInteraction {
                        display: flex;

                        i {
                            margin-right: 3px;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 999px;
                            height: 20px;
                            width: 20px;

                            &:hover {
                                background-color: #ffffff1e;
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .SoftwareStore {
        background: $bgcolor;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        width: 100%;
        height: 100%;
        color: $fgcolor;
        display: flex;

        * {
            margin: 0;
        }

        .NavPanel {
            margin: 10px 15px;
            height: 100%;
            width: 230px;
            transition: none;

            * {
                transition: none;
            }

            .Category {
                height: 100%;
                width: 100%;

                .CategoryTitle {
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                .Categories {
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    overflow-x: hidden;

                    .CategoryItem {
                        border-radius: 5px;
                        margin-bottom: 10px;
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        padding: 6px 10px;
                        background: lighten($bgcolor, 3%);

                        &.red {
                            border-left: 4px solid #932e2e;
                        }

                        &.green {
                            border-left: 4px solid #2e9362;
                        }

                        &.yellow {
                            border-left: 4px solid #93912e;
                        }
                    }
                }
            }
        }
    }    
}

.lightMode {
    .softwarestore {
        .TabBarWrapper .TabBar {
            .TabBarItem {
                color: #000;
                        
                .TabSeparator {
                    background-color: #0000001e;
                }
        
                &:hover {
                    .CloseButton {
                        &:hover {
                            background-color: #00000010;
                        }
                    }
                }

                .TabBarInteraction i:hover {
                    background-color: #0000001e;
                }
            }
        }
    }
    
    .SoftwareStore {
        background: $fgcolor;
        color: $bgcolor;
        
        .NavPanel {
            .Category {
                .Categories {
                    .CategoryItem {
                        background: darken($fgcolor, 5%);
                    }
                }
            }
        }
    }
}