$bgcolor: #202023da;
$fgcolor: #e2e2e2;

.SoftwareStoreWindow {
    .Window .TopBar {
        justify-content: space-between;
        .TopBarInteractionContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .TopBarTitle {width: auto;}
    }

    .softwarestore {
        width: 93vw;
        height: 93%;
        opacity: 0;
        pointer-events: none;
        transition: all ease .3s;

        &.active {
            opacity: 1;
            pointer-events: all;
            width: 100vw;
            height: 100%;
        }
        
        &.minimize {
            width: 1000px;
            height: 600px;

            .TopBarTitle {width: 200px;}
        }
    
        .TabBarWrapper {
            margin: 0 10px;
            margin-right: 0;
    
            .TabBar {
                display: flex;
    
                .TabBarItem {
                    padding: 4px 9px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    margin-right: 5px;
    
                    * { margin: 0 }
                    
                    .TabSeparator {
                        background-color: #ffffff1e;
                        width: 1px;
                    }

                    .TabBarInteraction {
                        display: flex;

                        i {
                            margin-right: 3px;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 999px;
                            height: 20px;
                            width: 20px;

                            &:hover {
                                background-color: #ffffff1e;
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .SoftwareStore {
        background: $bgcolor;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        width: 100%;
        height: 100%;
        color: $fgcolor;
        display: flex;

        * {
            margin: 0;
        }
            
        .SoftwareTableLayout {
            position: absolute;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 999px;
            margin: 5px 10px;
            transition: all ease .2s;
            z-index: 1;

            &:hover {
                background: transparentize($fgcolor, 0.95);
            }
        }

        .NavPanel {
            padding: 20px 18px;
            height: 100%;
            width: 310px;
            transition: none;
            background: transparentize($fgcolor, 0.97);
            position: relative;
            left: 0;
            transition: all ease .3s;

            &.inactive {
                position: relative;
                left: -310px;
                width: 0;
                padding: 0;
            }

            * {
                transition: all ease .1s;
            }

            .Category {
                max-height: 100%;
                width: 100%;
                position: relative;
                top: 40px;

                .CategoryTitle {
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                .Categories {
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    overflow-x: hidden;

                    .CategoryItem {
                        border-radius: 5px;
                        margin-bottom: 10px;
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        padding: 6px 10px;
                        background: lighten($bgcolor, 3%);

                        &.red {
                            border-left: 4px solid #932e2e;
                        }

                        &.green {
                            border-left: 4px solid #2e9362;
                        }

                        &.yellow {
                            border-left: 4px solid #93912e;
                        }
                    }
                }
            }
        }

        .SoftwareContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: all ease .3s;

            .SoftwareTab {
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                background: $bgcolor;

                .SoftwareNav {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    padding: 5px;

                    .SoftwareNavItem {
                        display: flex;
                        align-items: center;
                        padding: 7px 13px;
                        border-radius: 999px;
                        height: fit-content;
                        margin-right: 5px;
                        transition: all ease .05s;

                        &:last-child {margin: 0;}
                    }

                    &[value='1']{
                        .SoftwareNavItem.explorer{background: transparentize($fgcolor, 0.85)}
                    }

                    &[value='2']{
                        .SoftwareNavItem.installed{background: transparentize($fgcolor, 0.85)}
                    }

                    &[value='3']{
                        .SoftwareNavItem.updates{background: transparentize($fgcolor, 0.85)}
                    }

                    .SoftwareSearchbar {
                        appearance: none;
                        background: #a5a5a512;
                        padding: 9px 15px;
                        outline: none;
                        border: none;
                        width: 500px;
                        border-radius: 999px;
                        color: $fgcolor;
                        font-size: 12px;
                        transition: width ease .3s;
                        animation: searchbar .3s;

                        &:focus {
                            border: 1px solid #8fb6ff;
                            width: 600px;
                        }

                        @keyframes searchbar {
                            0% {
                                width: 450px;
                            }

                            100% {
                                width: 500px;
                            }
                        }
                    }

                    .CloseSearchbar {
                        font-size: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 25px;
                        border-radius: 999px;
                        margin-left: 10px;
                        transition: all ease .2s;
                        z-index: 1;
                        margin: 5px;
            
                        &:hover {
                            background: transparentize($fgcolor, 0.95);
                        }
                    }
                }

                .SoftwareSearch {
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 999px;
                    margin-left: 10px;
                    padding: 0 20px;
                    transition: all ease .2s;
                    z-index: 1;
                    margin: 5px;
        
                    &:hover {
                        background: transparentize($fgcolor, 0.95);
                    }
                }
            }

            .Software {
                padding: 10px;
                width: 100%;
                height: 100%;

                .updates {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: transparentize($fgcolor, 0.85);

                    h1 {font-weight: 700;}
                }
            }
        }
    }    
}

.lightMode {
    .softwarestore {
        .TabBarWrapper .TabBar {
            .TabBarItem {
                color: #000;
                        
                .TabSeparator {
                    background-color: #0000001e;
                }
        
                &:hover {
                    .CloseButton {
                        &:hover {
                            background-color: #00000010;
                        }
                    }
                }

                .TabBarInteraction i:hover {
                    background-color: #0000001e;
                }
            }
        }
    }
    
    .SoftwareStore {
        background: $fgcolor;
        color: $bgcolor;
            
        .SoftwareTableLayout {
            &:hover {
                background: transparentize($bgcolor, 0.8);
            }
        }
        
        .NavPanel {
            background: transparentize($bgcolor, 0.82);
            .Category {
                .Categories {
                    .CategoryItem {
                        background: darken($fgcolor, 5%);
                    }
                }
            }
        }

        .SoftwareContainer {
            .SoftwareTab {
                background: transparentize($bgcolor, 0.82);

                .SoftwareNav {
                    &[value='1']{
                        .SoftwareNavItem.explorer{background: transparentize($bgcolor, 0.75)}
                    }

                    &[value='2']{
                        .SoftwareNavItem.installed{background: transparentize($bgcolor, 0.75)}
                    }

                    &[value='3']{
                        .SoftwareNavItem.updates{background: transparentize($bgcolor, 0.75)}
                    }

                    .SoftwareSearchbar {
                        color: $bgcolor;
                        background: darken(#a5a5a512, 100%);
                    }

                    .CloseSearchbar {
                        &:hover {
                            background: transparentize($bgcolor, 0.78);
                        }
                    }
                }

                .SoftwareSearch {
                    &:hover {
                        background: transparentize($bgcolor, 0.75);
                    }
                }
            }

            .Software {
                .updates {
                    color: transparentize($bgcolor, 0.7);
                }
            }
        }
    }
}