.terminal { width: 100vw; height: 100% }
.WindowBody * { height: auto }

.Terminal {
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 15px 5px;
    height: 100vh;

    * {
      margin:0;
    }

    pre {
    	font-family:monospace;
	display: -webkit-box;

	&#input::after {
		content:'';
		display:block;
		height:15.5px;
		width:7px;
		background-color:#fff;
		animation: 1s blink step-end infinite;
	}

	@keyframes blink {
	from, to {
		background-color: transparent;
  	}
	50% {
    		background-color: #fff;
  	}
	}
    }
}
