$bgcolor: #202023e5;
$fgcolor: #e2e2e2;

.TextEditorWindow {
  .Window .TopBar {
    padding: 4px 8px;
    justify-content: space-between;
    .TopBarInteractionContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .TopBarTitle {
      width: auto;
    }
  }

  .texteditor {
    width: 100vw;
    height: 100%;
    
    &.minimize {
      width: 1000px;
      height: 600px;

      .TopBarTitle {
        width: 200px;
      }
    }

    .SaveChangesWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: none;
      opacity: 0;
      pointer-events: none;
      z-index: 1;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }

      .SaveChanges {
        border-radius: 5px;
        overflow: hidden;
        z-index: 10000;
        width: 400px;
        box-shadow: 0px 0 20px #00000089;

        .WindowTopBar {
          background: $bgcolor;
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          padding: 7px 10px;
          display: flex;
          align-items: center;
          transition: all ease 0.3s;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          .WindowTopBarTitle {
            color: $fgcolor;
            font-size: 12px;
            margin: 0;
            width: 100%;
          }

          .WindowTopBarInteractionContainer {
            display: flex;

            .WindowTopBarInteraction {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 7px;
              border-radius: 9999px;
              width: 20px;
              height: 20px;
              font-size: 11px;
              color: $fgcolor;

              &:hover {
                background: #3b3b3f;
              }

              &.close:hover {
                background: #ff5252;
              }
            }
          }
        }

        .WindowBodyDefault {
          background: $bgcolor;
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 10px 15px;
          color: $fgcolor;
        }

        .WindowBodyButton {
          display: flex;
          flex-direction: row-reverse;
          margin: 15px 0;
          margin-bottom: 0;

          .Button {
            border: none;
            outline: none;
            background: #ffffff10;
            color: $fgcolor;
            font-size: 12px;
            padding: 7px 20px;
            border-radius: 5px;
            margin-left: 5px;

            &:hover {
              background: #ffffff20;
            }
          }
        }
      }
    }

    .TabBarWrapper {
      margin: 0 10px;
      margin-right: 0;

      .TabBar {
        display: flex;

        .TabBarItem {
          padding: 4px 9px;
          color: #fff;
          display: flex;
          align-items: center;
          font-size: 11px;
          margin-right: 5px;

          * {
            margin: 0;
          }

          .TabSeparator {
            background: #ffffff1e;
            width: 1px;
          }

          .TabBarInteraction {
            display: flex;

            i {
              margin-right: 3px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 999px;
              height: 20px;
              width: 20px;

              &:hover {
                background: #ffffff1e;
              }

              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .TextEditor {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    color: $fgcolor;

    * {
      margin: 0;
    }

    .TextArea {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      color: $fgcolor;
      font-size: 16px;
      padding: 20px;
      line-height: 1.5;
      resize: none;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $fgcolor;
        border-radius: 999px;
      }
    }
  }
}

.lightMode {
  .texteditor {
    .SaveChanges {
      .WindowTopBar {
        background: $fgcolor;

        .WindowTopBarTitle {
          color: $bgcolor;
        }

        .WindowTopBarInteractionContainer .WindowTopBarInteraction {
          color: $bgcolor;

          &:hover {
            background: #3b3b3f;
          }

          &.close:hover {
            background: #ff5252;
          }
        }
      }

      .WindowBodyDefault {
        background: $fgcolor;
        color: $bgcolor;
      }

      .WindowBodyButton {
        .Button {
          background: #00000010;
          color: $bgcolor;
          &:hover {
            background: #00000020;
          }
        }
      }
    }

    .TabBarWrapper .TabBar {
      .TabBarItem {
        color: #000;

        .TabSeparator {
          background: #0000001e;
        }

        &:hover {
          .CloseButton {
            &:hover {
              background: #00000010;
            }
          }
        }

        .TabBarInteraction i:hover {
          background: #0000001e;
        }
      }
    }
  }

  .TextEditor {
    background: $fgcolor;
    color: $bgcolor;

    .TextArea {
      color: $bgcolor;

      &::-webkit-scrollbar-thumb {
        background-color: $bgcolor;
      }
    }
  }
}
