$bgcolor: #202023e5;
$fgcolor: #e2e2e2;

.TextEditorWindow {
    * {
        transition: all ease .3s;
    }
    .Window .TopBar {
        padding: 4px 8px;
        justify-content: space-between;
        .TopBarInteractionContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .TopBarTitle {width: auto;}
    }

    .texteditor {
        width: 93vw;
        height: 93%;
        opacity: 0;
        pointer-events: none;
        transition: all ease .3s;

        &.active {
            opacity: 1;
            pointer-events: all;
            width: 100vw;
            height: 100%;
        }
        
        &.minimize {
            width: 1000px;
            height: 600px;

            .TopBarTitle {width: 200px;}
        }
    
        .TabBarWrapper {
            margin: 0 10px;
            margin-right: 0;
    
            .TabBar {
                display: flex;
    
                .TabBarItem {
                    padding: 4px 9px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    margin-right: 5px;
    
                    * { margin: 0 }
                    
                    .TabSeparator {
                        background-color: #ffffff1e;
                        width: 1px;
                    }

                    .TabBarInteraction {
                        display: flex;

                        i {
                            margin-right: 3px;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 999px;
                            height: 20px;
                            width: 20px;

                            &:hover {
                                background-color: #ffffff1e;
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .TextEditor {
        background: $bgcolor;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        width: 100%;
        height: 100%;
        color: $fgcolor;
        display: flex;

        * {
            margin: 0;
        }

        .TextLineNumber {
            padding: 15px 30px;
            text-align: center;
            color: transparentize($fgcolor, 0.65);
            border-right: 1px solid #ffffff12;

            p {
                font-family: Cascadia Code;
                padding-bottom: 9px;
            }
        }

        .Textarea {
            padding: 17px 25px;
            width: 100%;
            height: 100%;
            transition: none;
            overflow-y: auto;
            resize: none;
            display: flex;
            flex-direction: column;

            .TextArea {
                border: none;
                outline: none;
                background: transparent;
                color: inherit;
                font-size: 15px;
                padding-bottom: 10px;
                font-family: Cascadia Code;
                transition: none;

                * {
                    font-family: Cascadia Code;
                    transition: none;
                }

                &::selection {
                    background-color: #8fb6ff76;
                    color: inherit;
                }

                .col1 {
                    color: #f92672;
                }

                .col1a {
                    color: #66d9ef;
                    font-style: italic;
                }

                .col2 {
                    color: #e6db74;
                }

                .col2a {
                    color: #a6e22e;
                }

                .col3 {
                    color: #ffd700;
                }

                .col4 {
                    color: #3c3b37;
                }

                .col4a {
                    color: #a6e22e;
                    text-decoration: underline;
                    text-underline-position: under;
                }

                .col4b {
                    color: #f92672;
                }

                .col5 {
                    color: #ae81ff;
                }
            }
        }
    }    
}

.lightMode {
    .texteditor {
        .TabBarWrapper .TabBar {
            .TabBarItem {
                color: #000;
                        
                .TabSeparator {
                    background-color: #0000001e;
                }
        
                &:hover {
                    .CloseButton {
                        &:hover {
                            background-color: #00000010;
                        }
                    }
                }

                .TabBarInteraction i:hover {
                    background-color: #0000001e;
                }
            }
        }
    }
    
    .TextEditor {
        background: $fgcolor;
        color: $bgcolor;

        .TextLineNumber {
            color: transparentize($bgcolor, 0.65);
            border-right: 1px solid #00000012;
        }

        .Textarea .TextArea {
            .col1 {
                color: #0000ff;
                font-style: normal;
            }

            .col2 {
                color: #a31515;
            }

            .col2a {
                color: inherit;
            }

            .col3 {
                color: #0431fa;
            }

            .col4 {
                color: #008000;
            }

            .col4a {
                color: inherit;
                text-decoration: none;
            }

            .col4b {
                color: inherit;
            }

            .col5 {
                color: #098658;
            }
        }
    }
}