$fgcolor: #e2e2e2;

.LockScreen {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 1000px;
    opacity: 0;
    pointer-events: none;
    z-index: 1000000;
    transition: all ease .5s;

    &.active {
        bottom: 0;
        opacity: 1;
        pointer-events: all;
    }
    
    .LockScreenWrapper {
        position: absolute;
        background-color: #000000bc;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        width: 100%;
        height: 100%;
        color: $fgcolor;
        display: flex;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: all .7s;

        &.active {
            opacity: 1;
            pointer-events: all;
        }

        * {margin: 0;}

        .SplashScreen {
            margin: 120px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .SplashScreenTitle {
                font-size: 60px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            .SplashScreenDesc {
                font-size: 13px;
                display: flex;
                justify-content: center;

                .SplashScreenItem {
                    margin-left: 15px;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 15px;
                        background-color: $fgcolor;
                        margin-left: 15px;
                    }

                    &:last-child:after {
                        content: '';
                        display: none;
                    }

                    .SplashScreenIcon {
                        margin-right: 7px;
                    }
                }
            }

            .LoginButton {
                width: 30px;
                height: 30px;
                color: $fgcolor;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 999px;
                font-size: 14px;
                transition: all ease .1s;

                &:hover {
                    background-color: $fgcolor;
                    color: darken($fgcolor, 100%);
                }
            }
        }
    }

    &.w1 {background-image: url('../Windows-11-4k-Wallpaper-scaled.jpg')}
    &.w2 {background-image: url('../52697.jpg')}
    &.w3 {background-image: url('../52496.jpg')}
    &.w4 {background-image: url('../52791.jpg')}
    &.w5 {background-image: url('../52532.jpg')}
    &.w6 {background-image: url('../52544.jpg')}
}