$rbgcolor: #353535;
$rtbgcolor: #83aaff;

.Range {
    appearance: none;
    -webkit-appearance: none;
    height: 27px;
    background-color: $rbgcolor;
    border-radius: 999px;
    width: 100%;
    overflow: hidden;
    transition: all ease .15s;

    &::-webkit-slider-thumb{
        appearance: none;
        -webkit-appearance: none;
        width: 30px;
        height: 27px;
        background: $rtbgcolor;
        box-shadow: 0 0 0 0 $rtbgcolor;
        border-radius: 999px;
        border: 0;
        box-shadow: -210px 0 0 195px $rtbgcolor;

        &:hover {
            background: #97b8ff;
            box-shadow: -210px 0 0 195px lighten($rtbgcolor,5%);
        }
    }
}

.lightMode {
    .Range {
        background-color: lighten($rbgcolor,72%);
    }
}