.Dock {
    position: absolute;
    bottom: -100px;
    z-index:1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 0;
    transition: all .3s;

    &.active {
        bottom: 0;
    }

    .DockItemContainer {

        .DockItem {
            margin-right: 11px;
            display: flex;
            justify-content: center;

            img {
                cursor: pointer!important;
		transition: all ease .2s;
		
		&:active {
			width: 28px;
			height: 28px;
		}
            }

            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 40px;
                border-radius: 9999px;
                width: 0;
                height: 3px;
                transition: all ease .3s;
            }

            &.clicked {
              img {
                position: relative;
                animation: focused ease 1s;
              }

              @keyframes focused {
                0% {
                  bottom: 0;
                }
                50% {
                  bottom: 10px;
                }
                100% {
                  bottom: 0;
                }
              }

              &::after {
                width: 20px;
		background-color: #4000ff;
                transition: all ease .3s;
              }
            }

            .DockItemTitle{
                color:#fff;
                position: absolute;
                top: -45px;
                font-size: 11px;
                background:#20202383;
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                padding: 5px 10px;
                border-radius: 30px;
                opacity: 0;
                text-align: center;
                transition: all .15s;
            }

            &:hover{
                .DockItemTitle{
                    opacity: 1;
                }
            }
        }
    }
}
