.Wallpaper {
    width: 85%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
    
    &.active {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    &.activeAnimation { animation: show ease .3s }

    @keyframes show {
        0% {
            width: 85%;
            height: 85%;
            opacity: 0;
        }
    
        100% {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    &.w1 {background-image: url('./Windows-11-4k-Wallpaper-scaled.jpg')}
    &.w2 {background-image: url('./52697.jpg')}
    &.w3 {background-image: url('./52496.jpg')}
    &.w4 {background-image: url('./52791.jpg')}
    &.w5 {background-image: url('./52532.jpg')}
    &.w6 {background-image: url('./52544.jpg')}
}