.ClockWidget {
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.3s;

  &.active {
    opacity: 1;
    pointer-events: auto;

    .ClockWidgetContainer {
      width: 200px;
      height: 200px;

      * {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .CloseButtonContainer {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: -5px;
    opacity: 0;
    z-index: 1;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }

    .CloseButton {
      width: 32px;
      height: 32px;
      background: #f7f7f7;
      font-size: 16px;
      display: flex;
      border-radius: 999px;
      justify-content: center;
      align-items: center;
      transition: all ease 0.3s;

      &:active {
        background: darken(#f7f7f7, 12%);
        width: 30px;
        height: 30px;
        font-size: 15px;
        transition: none;
      }

      i {
        color: #202023;
      }
    }
  }

  .ClockWidgetContainer {
    position: relative;
    border-radius: 999px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    transition: all ease 0.3s;

    * {
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.3s;
    }

    .Hour {
      position: absolute;
      width: 10px;
      height: 75px;
      border-radius: 999px;
      top: 25px;
      left: 93px;
      transform-origin: bottom;
      z-index: 10000;
    }

    .Min {
      position: absolute;
      width: 10px;
      height: 90px;
      border-radius: 999px;
      top: 10px;
      left: 47%;
      transform-origin: bottom;
      z-index: 10000;
    }

    .Sec {
      &.active {
        display: block;
      }
      display: none;
      position: absolute;
      width: 10px;
      height: 95px;
      border-radius: 999px;
      top: 7px;
      left: 46%;
      transform-origin: bottom;
      z-index: 10000;
    }

    .Number {
      font-weight: 800;
      text-align: center;
      letter-spacing: -3px;
      position: absolute;
      font-size: 115px;
      letter-spacing: -15px;

      &.twelve {
        top: -45px;
        left: 39px;

        &::before {
          content: "12";
        }
      }

      &.three {
        right: 0;
        top: 40px;

        &::before {
          content: "3";
        }
      }

      &.six {
        bottom: -50px;
        left: 64px;

        &::before {
          content: "6";
        }
      }

      &.nine {
        left: -8px;
        top: 40px;

        &::before {
          content: "9";
        }
      }
    }
  }

  &.default {
    .ClockWidgetContainer {
      background: #d3e1ff;

      .Hour,
      .Min,
      .Sec {
        background: #222;
      }

      .Number {
        color: darken(#d5e3ff, 10%);
      }
    }
  }

  &.matcha {
    .ClockWidgetContainer {
      background: #d8ffdc;

      .Hour,
      .Min,
      .Sec {
        background: #222;
      }

      .Number {
        color: darken(#d5ffd9, 13%);
      }
    }
  }
}
