.ClockWidget {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 999px;
  display: none;

  &.active {
    display: block;
  }

  .Close {
    width: 31px;
    height: 31px;
    background-color: #f7f7f7;
    border-radius: 999px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: 0;
    opacity: 0;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    i {
      color: #ababab;
    }
  }

  .Hour {
    position: absolute;
    width: 10px;
    height: 75px;
    border-radius: 999px;
    top: 25px;
    left: 93px;
    transform-origin: bottom;
    z-index: 10000;
  }

  .Min {
    position: absolute;
    width: 10px;
    height: 90px;
    border-radius: 999px;
    top: 10px;
    left: 47%;
    transform-origin: bottom;
    z-index: 10000;
  }

  .Sec {
    &.active {
      display: block;
    }
    display: none;
    position: absolute;
    width: 10px;
    height: 95px;
    border-radius: 999px;
    top: 7px;
    left: 46%;
    transform-origin: bottom;
    z-index: 10000;
  }

  .Number {
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    position: absolute;
    font-size: 115px;
    letter-spacing: -15px;

    &.twelve {
      top: -45px;
      left: 39px;

      &::before {
        content: "12";
      }
    }

    &.three {
      right: 0;
      top: 40px;

      &::before {
        content: "3";
      }
    }

    &.six {
      bottom: -50px;
      left: 64px;

      &::before {
        content: "6";
      }
    }

    &.nine {
      left: -8px;
      top: 40px;

      &::before {
        content: "9";
      }
    }
  }

  &.default {
    background-color: #d3e1ff;

    .Hour,
    .Min,
    .Sec {
      background-color: #222;
    }

    .Number {
      color: darken(#d5e3ff, 10%);
    }
  }

  &.matcha {
    background-color: #ddffe0;

    .Hour,
    .Min,
    .Sec {
      background-color: #222;
    }

    .Number {
      color: darken(#d5ffd9, 10%);
    }
  }
}
