.ClockWidget {
  width: 200px;
  height: 200px;
  border-radius:999px;
  display: none;

  &.active {display:block}

  .ActMenu {
    transition: opacity .2s ease!important;
  }

  .Close {
    width: 31px;
    height: 31px;
    background:#f7f7f7;
    border-radius: 999px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: 0;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    i {
      color: #ababab;
    }
  }

  .Hour {
    position: absolute;
    width: 10px;
    height: 80px;
    border-radius: 999px;
    top: 20px;
    left: 93px;
    transform-origin: bottom;
    z-index: 10000;
  }

  .Min {
    position: absolute;
    width: 10px;
    height: 90px;
    border-radius: 999px;
    top: 10px;
    left: 47%;
    transform-origin: bottom;
    z-index: 10000;
  }

  .Sec {
    &.active {
      display: block;
    }
    display: none;
    position: absolute;
    width: 10px;
    height: 95px;
    border-radius: 999px;
    top: 7px;
    left: 46%;
    transform-origin: bottom;
    z-index: 10000;
  }

  .Number {
    font-weight: 800!important;
    letter-spacing: -3px;
    position: absolute;
    font-size: 50px;
  
    &.twelve {
      top: 10px;
      left: 36%;
    }
  
    &.three {
      right: 13px;
      top: 35%;
    }
  
    &.six {
      bottom: 10px;
      left: 42%;
    }
  
    &.nine {
      left: 10px;
      top: 35%;
    }
  }

  &.default {
    background-color: #d5e3ff;

    .Hour, .Min, .Sec {
      background: #222;
    }

    .Number {
      color: darken(#d5e3ff, 10%);
    }
  }

  &.matcha {
    background-color: #d5ffd9;

    .Hour, .Min, .Sec {
      background: #222;
    }

    .Number {
      color: darken(#d5ffd9, 10%);
    }
  }
}